<p-table [value]="products">
    <ng-template pTemplate="header">
        <tr>
            <th>WellId</th>
            <th>WellName</th>
            <th>WellCode</th>
            <th>Cost</th>
            <th>Location</th>
            <th>Description</th>
            <th>Quality</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.wellId}}</td>
            <td>{{product.wellName}}</td>
            <td>{{product.wellCode}}</td>
            <td>{{product.Cost}}</td>
            <td>{{product.location}}</td>
            <td>{{product.description}}</td>
            <td><sd-magic-library [count]=product.starRating></sd-magic-library></td>
        </tr>
    </ng-template>
</p-table>